<%- include('partials/header'); -%>

    <h1>Home</h1>

    <p>
        <%= startingContent %>
    </p>

    <!-- log to check and show our blog posts -->
    <% console.log(blogPosts); %>
        <ul>
            <!-- foreach instead of for -->
            <% blogPosts.forEach(function(post) { console.log(post.title);}) %>
                <% for(var i=0; i< blogPosts.length; i++) {%>
                    <h2>
                        <%= blogPosts[i].title %>
                    </h2>
                    <p>
                        <%= blogPosts[i].content %>
                    </p>
                    <% } %>
        </ul>

        <%- include('partials/footer'); -%>